.carousel-container{
    height: 50%;
    display: flex;
    align-items: center;
}
.carouselItem{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    color: white;
    align-items: center;
    cursor: pointer;
}
.carouselItem img{
    height: 10rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.coin-symbol{
    font-size: 1.5rem;
}
