@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;   /* 1rem = 10rem */ 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: gold;
}
body {
  background-color: #282c34;
  background-color: #14161a;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}